<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JustStudy</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="app">
      <!-- header section -->
      <header class="bg-indigo-600 text-white">
        <div class="flex items-center justify-between p-2 m-12">
          <h1 class="font-bold text-3xl text-white">JustStudy</h1>
          <button
            v-on:click="showCartItems"
            class="border rounded-lg p-2 hover:bg-white hover:text-black font-semibold"
          >
            {{countCartItems}}
            <span><i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</span>
          </button>
        </div>
      </header>
      <!-- end header section here -->

      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center m-24 sm:space-x-2"
      >
        <!-- Sort Section -->
        <div class="space-y-4">
          <label class="font-bold" for="Sort">Sort by:</label>
          <div class="flex flex-col md:flex-row md:space-x-4">
            <select
              v-model="sortCriteria"
              @change="sortLessons"
              class="border w-full md:w-48 rounded-lg p-2"
            >
              <option value="name">Name</option>
              <option value="location">Location</option>
              <option value="price">Price</option>
            </select>
            <select
              v-model="sortOrder"
              @change="sortLessons"
              class="border w-full md:w-48 rounded-lg p-2"
            >
              <option value="ascending">Ascending</option>
              <option value="descending">Descending</option>
            </select>
          </div>
        </div>

        <!-- Search Section -->
        <div class="flex justify-end space-x-2">
          <input
            type="text"
            placeholder="Search for lessons..."
            class="border-gray-300 rounded-lg border-2 p-2 w-full md:w-96"
          />
          <button class="bg-teal-400 text-white font-bold h-10 w-24 rounded-lg">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
          </button>
        </div>
      </div>
      <!-- Added projects or Main Page. -->
      <div v-if="showProduct">
        <div
          class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-right m-24 gap-4"
        >
          <div
            class="border border-solid shadow-md m-2 w-auto p-8 rounded-lg"
            v-for="(lesson, index) in lessons"
            :key="index"
          >
            <img
              v-bind:src="lesson.images"
              alt="backEndImage"
              class="w-full h-48 object-cover rounded-lg mb-2"
            />

            <p class="font-bold pb-2">subject: {{lesson.subject}}</p>
            <p class="font-semibold text-gray-800 pb-2">
              price: ${{lesson.price}}
            </p>
            <p class="font-semibold text-gray-800 pb-2">
              location:{{lesson.location}}
            </p>
            <p class="font-semibold text-gray-800 pb-2">
              spaces: {{lesson.spaces}}
            </p>

            <button
              v-if="lesson.spaces > 0"
              v-on:click="addToCart(index)"
              class="border-none p-2 bg-green-500 text-white rounded-lg font-semibold"
            >
              add To Cart
            </button>
            <button
              v-else
              v-on:click="addToCart(index)"
              class="border-none p-2 bg-green-500 text-white rounded-lg font-semibold"
            >
              No spaces
            </button>
          </div>
        </div>
      </div>
      <!-- checkOut page -->
      <div v-else>
        <h1 class="text-2xl font-bold text-center my-6">Checkout</h1>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-6 p-6">
          <div
            class="border border-solid shadow-md m-2 w-auto p-8 rounded-lg flex space-x-8"
            v-for="(items, index) in cart"
            :key="index"
          >
            <img
              v-bind:src="items.images"
              alt="backEndImage"
              class="w-48 h-48 object-cover rounded-lg mr-4"
            />

            <div>
              <p class="font-bold pb-4">subject: {{items.subject}}</p>
              <p class="text-gray-800 pb-2">price: ${{items.price}}</p>
              <p class="text-gray-800 pb-2">location: {{items.location}}</p>
              <p class="text-gray-800 pb-2">spaces: {{items.spaces}}</p>

              <button
                v-on:click="removeItem(index)"
                class="border-none p-2 text-red rounded-lg font-semibold"
              >
                <span><i class="fa fa-trash" aria-hidden="true"></i> </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end project. -->
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          showProduct: true,
          // sorting variables.
          sortCriteria: "name",
          sortOrder: "ascending",

          lessons: [
            {
              id: 1,
              subject: "Math",
              location: "London",
              price: 110,
              spaces: 5,
              images: "images/mathImage.jpg",
            },
            {
              id: 2,
              subject: "Physics",
              location: "westham",
              price: 123,
              spaces: 5,
              images: "images/PhysicsImage.jpeg",
            },
            {
              id: 3,
              subject: "Web Development",
              location: "South London",
              price: 80,
              spaces: 5,
              images: "images/webdevelopmentImage.jpeg",
            },
            {
              id: 4,
              subject: "Cybersecurity",
              location: "Manchester",
              price: 200,
              spaces: 5,
              images: "images/cybersecurityImage.jpeg",
            },
            {
              id: 5,
              subject: "Data science",
              location: "Germany",
              price: 450,
              spaces: 5,
              images: "images/datascienceImage.jpeg",
            },
            {
              id: 6,
              subject: "AI/Machine Learning",
              location: "Dubai",
              price: 225,
              spaces: 5,
              images: "images/ai-vs-machine-learningImage.png",
            },
            {
              id: 7,
              subject: "Linear Alegbra",
              location: "westLondon",
              price: 30,
              spaces: 5,
              images: "images/linearAlgebraImage.jpeg",
            },
            {
              id: 8,
              subject: "Operating System",
              location: "Los Angelos",
              price: 320,
              spaces: 5,
              images: "images/operatingsystemImage.jpeg",
            },
            {
              id: 9,
              subject: "Product Management",
              location: "Portugal",
              price: 245,
              spaces: 5,
              images: "images/productManagerImage.jpeg",
            },
            {
              id: 10,
              subject: "BackEnd Webdevelopment",
              location: "switzerland",
              price: 700,
              spaces: 5,
              images: "images/backEndImage.jpeg",
            },
          ],
          cart: [],
        },
        methods: {
          // add Lessons in the cart.
          addToCart: function (index) {
            if (this.lessons[index].spaces > 0) {
              this.cart.push(this.lessons[index]);
              this.lessons[index].spaces--;
            }
          },
          // showCartItems
          showCartItems: function () {
            if (this.cart.length > 0) {
              return (this.showProduct = !this.showProduct);
            } else if (this.cart.length == 0) {
              return (this.showProduct = true);
            } else {
              alert("No items in cart");
            }
          },
          // remove items from the cart.
          removeItem: function (index) {
            const removedItem = this.cart[index];

            const originalLesson = this.lessons.find(
              (lesson) => lesson.id === removedItem.id
            );
            if (originalLesson) {
              originalLesson.spaces++;
            }

            this.cart = this.cart.filter((item, i) => {
              return i != index;
            });
          },
          // sort method

          sortLessons: function () {
            this.lessons.sort((a, b) => {
              let modifier = this.sortOrder === "ascending" ? 1 : -1;

              if (this.sortCriteria === "name") {
                return modifier * a.subject.localeCompare(b.subject);
              } else if (this.sortCriteria === "location") {
                return modifier * a.location.localeCompare(b.location);
              } else if (this.sortCriteria === "price") {
                return modifier * (a.price - b.price);
              }
            });
          },
        },

        computed: {
          countCartItems: function () {
            return this.cart.length || "";
          },
        },
      });
    </script>
  </body>
</html>
